.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  width: 400px;
  height: 500px;
  border: 2px solid rgb(225, 220, 220);
  margin: 90px auto 50px auto;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(229, 224, 224, 0.5);
  backdrop-filter: blur(30px);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none;
}

.upload-icon-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.upload-icon-container .cloud-icon {
  font-size: 24px; /* Adjust icon size as needed */
}

.image-preview img {
  width: 100%; /* Ensure the image takes up 100% of the container width */
  height: auto; /* Let the height adjust automatically to maintain aspect ratio */
  display: block;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: url('../assets/loading.gif') no-repeat;
  background-size: cover;
}

.submitbutton-container {
  display: flex;
  justify-content: center;
}

.submitbutton {
  width: 200px;
  font-size: 20px;
  border: none;
  background-color: #df607c;
  padding: 10px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 1px 3px rgb(181, 174, 174);
  font-weight: bold;
}

.upload-text {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  text-align: center;
  font-size: 16px;
}

.upload-icon-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  text-align: center; /* Center the text */
}

@media (max-width: 767px) {
  .image-container {
    margin: 18px;
    margin-top: 20px;
    width: 350px;
    height: 480px;
    margin-bottom: 30px;
  }
}

.typeinfo {
  background-color: #f8f8f8; /* Background color */
  padding: 20px; /* Padding around the content */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow */
  background-color: #F4E1E0;

}

.typeinfo p {
  font-size: 18px; /* Font size for the paragraph */
  font-weight: bold; /* Bold font weight */
}

.typeinfo ol {
  list-style-type: inherit ;/* Remove bullet points */
  padding: 0; /* Remove default padding */
}

.typeinfo li {
  margin-bottom: 5px; /* Spacing between list items */
  font-size: 16px; /* Font size for list items */
}


.container {
  display: grid;
  grid-template-columns: 1fr 2fr; /* 1/3rd for image-container, 2/3rd for cervixtypeinfo */
}

.image-container {
  height: 500px;
}

.cervixtypeinfo {
  padding: 20px;
  margin: 40px;
  height: 460px;
  width: 1000px;
  border: 2px solid rgb(225, 220, 220);
  margin: 90px auto 50px auto;
  position: relative;
  overflow: hidden;
  background-color: #F4E1E0;
  backdrop-filter: blur(30px);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
  .container {
    grid-template-columns: 1fr; /* Switch to a single column layout for smaller screens */
  }

  .cervixtypeinfo {
    margin: 20px;
  }
}
