.aboutApp {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #df607c;
}

.aboutdisplay {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.aboutContent {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    justify-content: flex-end;
    align-self: center;
    text-align: center;
}

#classifyButton {
    width: 40%;
    font-size: 20px;
    border: none;
    background-color: #df607c;
    padding: 10px;
    color: white;
    border-radius: 20px;
    align-self: center;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 1px 3px rgb(181, 174, 174);
    font-weight: bold;
}

.datarepresentation {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row if necessary */
    justify-content: space-around; /* Distribute items evenly with space around them */
    background-color: #F4E1E0;
    font-size: 40px;
    color: #df607c;
    font-weight: bold;
    align-items: center;
    padding: 80px;
  }
  
  .data {
    width: 400px; /* Set a fixed width for each data container */
    text-align: center; /* Center align the text */
  }
  

@media screen and (max-width: 768px) {
    .aboutApp {
        font-size: 30px;
    }

    .aboutdisplay {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    #classifyButton {
        width: 60%;
    }
}

span {
    color: black;
    font-size: 18px;
    font-weight: 400;
}